body {
    text-align: center;
}
#Logo {
    width: 750px;
    height: 563px;
}
img {
    width: 350px;
}
#myCarousel {
    background-color: red;
}
.robloxgames {
    display: inline;
}
#mycarousel img{
    height: 300px;
    margin-top: 25px;
}
.carousel-inner p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}